<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Lotery userewrite=1 Rule1" stopProcessing="true">
                    <match url="^kuji/(.*)$" />
                    <action type="Rewrite" url="?txt=$1" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
